adf/pipeline/CopyAWEntities.json
{
	"name": "CopyAWEntities",
	"properties": {
		"description": "Copies a list of entitites from ",
		"activities": [
			{
				"name": "ForEach Entity",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables(\"Entities\")",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ExecuteCopyAWEntity",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Entity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyAWEntity",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Entity": "@item()"
					}
				}
			}
		],
		"variables": {
			"Entities": {
				"type": "Array",
				"defaultValue": [
					"Product",
					"ProductSubCategory",
					"ProductCategory"
				]
			}
		},
		"annotations": []
	}
}